@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

button {
  padding: 10px 15px;
  border: none;
  transition: 0.2s ease-in-out;
}
button:hover {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}

nav {
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
  position: sticky;
  top: 0;
  margin-bottom: 32px;
  background: white;
  z-index: 50;
}
.nav_bar {
  display: flex;
  justify-content: space-between;
  margin: 15px 100px 0px 100px;
}
.nav_icon {
  width: 35px;
  height: 35px;
  margin-top: 20px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}
.hero_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tag {
  background: green;
  padding: 10px 30px;
  color: white;
  align-self: flex-start;
  font-weight: 400px;
}
.hero_content h1 {
  font-size: 72px;
  font-weight: 400;
}

.hero_btn {
  background-color: rgb(196, 133, 16);
  align-self: flex-start;
  font-size: 25px;
  color: white;
}

.hero_spec {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
  gap: 20px;
}

.spec {
  display: flex;
  gap: 20px;
  padding: 20px;
  transition: 0.2s ease-in-out;
}

.spec:hover {
  transition: 0.2s ease-in-out;
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.5);
}

.line {
  border: 1px solid #ccc;
  margin: 20px 0;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  margin: 50px 0;
}
.menu .tag {
  align-self: center;
}

.grid_img {
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  width: 100%;
  height: 100%;
}
.grid_img:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

.grid {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";
}
.items1 {
  grid-area: I1;
}
.items2 {
  grid-area: I2;
}
.items3 {
  grid-area: I3;
}
.items4 {
  grid-area: I4;
}
.items5 {
  grid-area: I5;
}
.items6 {
  grid-area: I6;
}
.items7 {
  grid-area: I7;
}

footer {
  width: 100%;
  height: 100%;
  margin-top: 110px;
}

.footer {
  background: #fff0db;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  gap: 100px;
}

.footer_content p {
  padding-bottom: 5px;
  cursor: pointer;
}
.footer_content h3 {
  padding-bottom: 15px;
  color: rgb(63, 60, 60);
}
.footer_content h4 {
  padding: 10px 0;
  font-size: 25px;
  color: rgb(63, 60, 60);
}
.footer_content input {
  padding: 5px 10px;
}

.social_link {
  margin: 5px 0;
}
.social_link i {
  font-size: 30px;
  padding: 0 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.social_link i:hover {
  opacity: 0.5;
  transition: 0.2s ease-in-out;
}

@media (max-width: 785px) {
  .hero {
    flex-direction: column;
  }
  .hero_content {
    margin-left: 20px;
  }
}

@media (max-width: 785px) {
  .hero_spec {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 785px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-left: 10px;
  }
}
